* {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-color: #d0f3f3;
  background-image: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
        justify-content: center;
  line-height: 1.5;
  margin: 0;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  position: relative;
}

a {
  border-bottom: 1px solid transparent;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  -webkit-transition: color .3s ease-in-out, border .3s ease-in-out;
  transition: color .3s ease-in-out, border .3s ease-in-out;
}

a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.75);
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

::-webkit-input-placeholder {
  color: rgba(153, 153, 153, 0.65);
}

::-moz-placeholder {
  color: rgba(153, 153, 153, 0.65);
}

:-ms-input-placeholder {
  color: rgba(153, 153, 153, 0.65);
}

::placeholder {
  color: rgba(153, 153, 153, 0.65);
}

.page-footer {
  bottom: 0;
  left: 0;
  padding: 0.5rem 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9;
}

.copyright {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1rem;
  margin: 0;
}

.app {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  box-shadow: 4px 4px 48px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
  width: 300px;
}

.app__title {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem auto;
  text-align: center;
}

.form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  min-height: 15.75rem;
  padding: 0 1rem;
  width: 100%;
}

.form__field-group {
  -webkit-animation: fade-in 0.4s cubic-bezier(0.5, -0.4, 0.4, 2.5) forwards;
          animation: fade-in 0.4s cubic-bezier(0.5, -0.4, 0.4, 2.5) forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.5rem;
  opacity: 0;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  width: 100%;
}

.form__field-group:nth-child(1) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.form__field-group:nth-child(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.form__field-group:nth-child(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.form__label {
  color: rgba(0, 0, 0, 0.5);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 0.25rem;
}

.form__field {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  width: calc(100% - 2rem);
}

.form__field:focus {
  border-color: #f55a66;
  outline: none;
}

.form__field--number {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  border-right: 0;
}

.form__field::-webkit-outer-spin-button, .form__field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 2rem;
}

.form__btn {
  background-color: #f55a66;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  color: white;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin: 0;
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(0.25, -1, 0.5, 2.25);
  transition: 0.2s -webkit-transform cubic-bezier(0.25, -1, 0.5, 2.25);
  transition: 0.2s transform cubic-bezier(0.25, -1, 0.5, 2.25);
  transition: 0.2s transform cubic-bezier(0.25, -1, 0.5, 2.25), 0.2s -webkit-transform cubic-bezier(0.25, -1, 0.5, 2.25);
}

.form__btn:focus {
  outline: thin dotted;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.form__btn--no-bottom-border {
  border-bottom: 0;
}

.form__btn--no-top-border {
  border-top: 0;
}

.form__btn:hover {
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.results {
  background-color: #f55a66;
  color: white;
  padding: 1rem;
  width: 100%;
}

.result {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.25rem;
}

.result__amount {
  font-weight: 400;
}

.note {
  font-size: 0.75rem;
  margin: 0 0 1rem;
}

[v-cloak] .v-cloak--hidden {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
